@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

* {
    font-family: 'Outfit', sans-serif;
    margin: 0;
    padding: 0;
}

#logo-name {
    font-family: 'Ephesis', cursive;

}

html {
    background-color: black;
    padding: 0;
    margin: 0;
}

body::-webkit-scrollbar {
    display: none;
}

/* Custom Scrollbar for Glass Modal */
.glass-scrollbar::-webkit-scrollbar {
    width: 8px;
}

.glass-scrollbar::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

.glass-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.glass-scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.4);
}